/* RESET PAGINA */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */

header{
    margin-bottom: 10px;
}

.nav-bar a{
    color: black;
    text-decoration: none;
}

.logo,
nav,
.login{
    background-color: goldenrod;
    border: 2px dotted black;
}

.odd{
    background-color: white;
}

.even{
    background-color: lightgrey;
}

/* HEADER TOP */
.header-top{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;

    /* TEST */
    background-color: lightblue;
    height: 80px;
}

.nav-bar{
    list-style: none;
    display: flex;
    justify-content: center;

}

.nav-bar li{
    padding: 2px 15px;
}

nav{
    width: 40%;
}

.logo{
    width: 10%;
    text-align: left;
    padding: 2px 4px;
}

.login{
    width: 10%;
    text-align: right;
    padding: 2px 4px;
}

/* HEADER BOTTOM */
.header-bottom{
    display: flex;
    justify-content: center;
    align-items: center;

    /* TEST */
    background-color: darkblue;
    height: 600px;
}

.jumbotron-content{
    border: 2px dotted black;

    /* TEST */
    background-color: violet;
    height: 70%;
    width: 50%;
}

/* CORPO PAGINA */
main section{
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc-blue{
    height: 80%;
    border: 2px dotted black;
    

    /* TEST */
    background-color: #1e90ff ;
    width: 40%;
}

.bloc-pink{
    height: 80%;
    border: 2px dotted black;
    

    /* TEST */
    background-color: pink ;
    width: 30%;
}

.last{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc-green{
    height: 90%;
    border: 2px dotted black;
    

    /* TEST */
    background-color: green ;
    width: 70%
}

/* FOOTER */
footer{
    background-color: #23272a;
}

/* TOP-PART FOOTER */
.footer-top{
    display: flex;
    justify-content: center;
    padding: 20px 15px;
    border-bottom: 2px solid gray;

    /* TEST */
    height: 600px;
}

.col-pink{
    height: 95%;
    border: 2px dotted black;

    /* TEST */
    background-color: palevioletred ;
    width: 19%;
}

.col{
    height: 95%;
    border: 2px dotted white;

    /* TEST */
    background-color: cornflowerblue;
    width: 13%
}


/* BOTTOM-PART FOOTER */
.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: flex-end;


    /* TEST */
    height: 100px;
}

.end-banner{
    display:flex;
    justify-content: space-between;
    background-color: aquamarine;
    font-size: 25px;
    padding: 10px 0;

    /* TEST */
    width: 70%;
    height: 60%;

}

.end-logo{
    text-align: left;
    border: 2px dotted black;
    background-color: pink;
}

.button{
    text-align: right;
    border: 2px dotted black;
    background-color: pink;
}

